__pycache__/
*.py[cod]
*.log
.env
*.sqlite3
*.db
node_modules/
.webpack/
.next/
out/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv/
**/dist/
**/build/
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.env
